.blog3-section-main{
    display: flex;
    align-items: self-start;
}
.blog3-modal {
    height: 110vh;
    width: 80vw;
    background: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
}
.blog3-heading{
    position: absolute;
    /* top: 20%; */
    font-size: 2.3rem;
    font-style: italic;
}
.blog3-description-section{
    height: 74vh;
    width: 72vw;
    /* border: 6px solid black; */
}
.blog3-heading-separator-horizontal {
    height: 4px;
    width: 60vw;
    background: linear-gradient(to right, #e350f2, #2e26eb);
    border-radius: 2rem;
}
.blog3-heading-separator-vertical {
    height: 28vw;
    width: 4px;
    position: absolute;
    background: linear-gradient(to right, #e350f2, #2e26eb);
    border-radius: 2rem;
    left: 47.4rem;
    top: 14rem;
}
.blog3-box {
    width: 34vw;
    height: 56vh;
    /* border: 2px solid black; */
    margin-top: 6rem;
}
.blog3-description-main-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog3-pic-1{
    height: 25rem;
    width: 14vw;
    border-radius: 2rem;
    background-image: url(../../assests/images/Blog_Images/Sports/sports-04.jpg);
    background-size:cover;
    background-position:center;
    margin-top: 18rem;
}
.blog3-pic-2{
    height: 25rem;
    width: 19vw;
    background-image: url(../../assests/images/Blog_Images/Sports/sports-02.jpg);
    background-size:cover;
    background-position:center;
    border-radius: 2rem;
}
.blog3-description-pics{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
