@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.Cards{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    top: 20%;
    max-height: 100vh;
    max-width: 100vw;
}
#column_1 .card-col-1{
    display: flex;
    flex-direction: column;
}
/* #column_1 .card-col-1{
    border: 2px solid black;
    border-radius: 10px;
    padding: 23px 32px;
    width: 300px;
    height: 279px;
    background: linear-gradient(to left,rgb(228 51 51),rgb(42 39 221 / 37%));
    margin-bottom: 1.5rem;
    text-align: center;
} */
#column_1 .card-col-1{
    position: relative;
    width: 300px;
    height: 279px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
#column_1 .card-col-1:hover{
    transform: translateY(-20px);
}
#column_1 .card-col-1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skew(45deg) translateX(550px);
    transition: 0.5s;
}
#column_1 .card-col-1:hover::before{
    transform: skew(45deg) translateX(-350px);
}
.text-col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 279px;
    font-size: 3.2rem;
    color: white;
    text-transform: uppercase;
}
.text-col-1:hover{
    cursor: pointer;
}
#column_2{
    display: flex;
    flex-direction: column;
}
/* #column_2 .card-col-2{
    border: 2px solid black;
    border-radius: 10px;
    padding: 23px 32px;
    width: 300px;
    height: 279px;
    background-color: rgb(196, 147, 241);
    background: linear-gradient(to left, rgb(42 39 221 / 37%), rgb(228 51 51));
    margin-bottom: 1.5rem; 
} */
#column_2 .card-col-2{
    position: relative;
    width: 300px;
    height: 279px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
#column_2 .card-col-2:hover{
    transform: translateY(-20px);
    cursor: pointer;
}
#column_2 .card-col-2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skew(45deg) translateX(550px);
    transition: 0.5s;
}
#column_2 .card-col-2:hover::before{
    transform: skew(45deg) translateX(-350px);
}
.text-col-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    font-size: 3.2rem;
    color: white;
    text-transform: uppercase;
}
.text-col-2:hover{
    cursor: pointer;
}
.outer-blob{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* background: linear-gradient(to bottom, #ff4f8b,#dff1ff); */
    width: 300px;
    height: 279px;
    z-index: 2;
}
/* .outer-blob::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 279px;
    background: #000;
    z-index: 1;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255,255,255,0.5);
} */
.outer-blob .color{
    position: absolute;
    filter: blur(101px);
}
/* .outer-blob .color:nth-child(1){
    background: #ff359b;
    width: 300px;
    height: 279px;
    top: 77px;
}
.outer-blob .color:nth-child(2){
    background: #00d2ff;
    width: 300px;
    height: 279px;
    bottom: 40px;
    left: 302px;
}
.outer-blob .color:nth-child(3){
    background: #fffd87;
    width: 300px;
    height: 279px;
    bottom: 45px;
    right: 300px;
} */
.inner-blob{
    /* border: 2px solid green; */
    border-radius: 40px;
    font-size: 2.2rem;
    font-weight: 700;
    transform: scale(3);
    text-transform: uppercase;
    background: -webkit-linear-gradient(rgb(242 229 255), #e5ff10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}