/* 
---------------------------------------------
welcome
--------------------------------------------- 
*/
.welcome-area {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(../../assests/images/); */
    /* background-image: linear-gradient(red, yellow); */
    background-image: linear-gradient(
      175deg
      , rgb(10 64 242 / 30%), rgb(161 10 255 / 56%)), url(../../assests/images/Award2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    height: 100vh;
  }
  
  .welcome-area .header-text {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    text-align: center;
    width: 100%;
  }
  
  .welcome-area .header-text h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .welcome-area .header-text p {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
    position: relative;
  }

  .start-btn {
    position: absolute;
    left: 4.5rem;
    top: 7.4rem;
    border-radius: 2rem;
    background: linear-gradient(to right, #e350f2, #2e26eb);
    /* background-color: #fff; */
    border-width: 0;
    color: #fff;
    height: 2rem;
    transform: scale(2);
}

.forward-icon{
  position: relative;
  top: -.8px;
}
.description-summary{
  position: absolute;
  top: 0;
  left: 20rem;
}

.title-desc{
  display: flex;
  justify-content: flex-start;
  font-size: 4rem;
  color: #fff;
  text-transform: capitalize;
  font-style: italic;
}

.desc-main{
  max-width: 600px;
  text-align: left;
  font-weight: 600;
  color: #fff;
}
  
  @media (max-width: 991px) {
    .welcome-area .header-text {
      top: 65% !important;
      transform: perspective(1px) translateY(-60%) !important;
      text-align: center;
    }
    .welcome-area .header-text h1 {
      text-align: center;
      color: #fff;
      margin-bottom: 15px;
    }
    .welcome-area .header-text h1 span {
      color: #fff;
    }
    .welcome-area .header-text p {
      text-align: center;
      color: #fff;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 820px) {
    .welcome-area .header-text {
      top: 65% !important;
      transform: perspective(1px) translateY(-60%) !important;
    }
     .welcome-area .header-text h1 {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    .welcome-area .header-text p {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 765px) {
    .welcome-area {
      margin-bottom: 100px;
    }
    .welcome-area .header-text {
      top: 50% !important;
      transform: perspective(1px) translateY(-50%) !important;
      text-align: center;
    }
    .welcome-area .header-text .buttons {
      display: none;
    }
    .welcome-area .header-text h1 {
      font-weight: 600;
      font-size: 24px !important;
      line-height: 30px !important;
      margin-bottom: 30px !important;
    }
    .welcome-area .header-text h1 span {
      color: #fff;
    }
    .welcome-area .header-text p {
      text-align: center;
      color: #fff;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 40px;
    }
  }